html,body{

    height: 100%;
    margin: 0%;
    font-size: 16px;
    
    font-weight: 400;
    color: #666;
    overflow: none;
}

.pimg1{
    background: url(images/1.jpg);
    min-height: 100%;
    position: relative;   
}

.pimg2{
    background: url(images/2.jpg);
    min-height: 100%;
    position: relative;   
}

.pimg3{
    background: url(images/3.jpg);
    min-height: 100%;
    position: relative;   
}

.pimg1,.pimg2,.pimg3{
 
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ptext{

    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;

    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.textbg{

    background: #313534;
    color:white ;
    padding: 20px;
}

.section{

    padding: 50px 80px;
    
    text-align: center;
    text-align: justify;
}

.section-light{

    background-color: rgb(34, 25, 26);
    color: rgb(238, 228, 224);
}

.section-dark{

    background-color: green;
}

