@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body{

    font-family: 'Creepster', cursive;
    font-size: 20px;
}
header{
    text-align: center;
    color: rgb(57, 191, 0);
    text-shadow: 10px 2px 2px blue;
}

.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left,rgb(138, 63, 63),rgb(173, 105, 105));
}


.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top:20%;
    background-color: aqua;
    padding: 20px 40px;
    border-radius: 8px;

    box-shadow: 2px 2px 5px black;
    z-index: 2;

}

.signup-body{
    margin:20PX 0;
}

.signup-body p{
    margin: 10px 0;
}

.signup-body p label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 2px;
    font-size: 15px;
}

.signup-body p input[type="submit"]{
 background-color: rgb(57, 57, 119);
    color: tomato;
    border: none;
    font-size: 20px;
    cursor: pointer;
}


.signup-body p input[type="submit"]:hover{

    background-color: blue;
}


.signup-footer p{
    color: #555;
    text-align: center;
}


.signup-footer p a{

    color: rgb(40, 40, 157);
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    background: linear-gradient(to top right,#ffff,green);
}

.c1{

    top: 100px;
    left: 40px;

}


.c2{

    bottom: 200px;
    right: 50px;
}