*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgb(148, 22, 0);
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.apply_box{

   
    margin:  0 auto;
    margin-top: 50px;
    max-width: 600px;
    padding: 20px;
    background-color: tomato;
    box-shadow: 4px 2px 5pz rgba(1,1, 1, 0.1);
    border-radius: 10px;
}

.title_small{


    font-size: 20px;
}

.form_container{

    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}


.form-control{

    display: flex;
    flex-direction: row;

}

label{
    font-size: 17px;
}

input,select,textarea{

    padding: 6px 10px;
    border: 1px solid yellow;
}